body{
	background: #333;
	color: white;
}

#container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	font-family: sans-serif;
}

input[type=text]{
	width: 85%;
	height: 40px;
	font-size: 25px;
	color:#999;
}

input[type=submit]{
	height: 45px;
	vertical-align: top;
	color: blue;
}

p.errors{
	color: red;
	font-style: italic;
}

a{
	color:#999;
}